img{
    width: 200px;
}
#so{
    color: rgb(47, 109, 225);
}
#ug{
    color: orange;
}
#ta{
    color: rgb(9, 146, 100);
}
#rw{
    color: rgb(7, 162, 213);
}
#br{
    color: red;
}
#sou{
    color: black;
}
#it{
   color: orange;
}
#ir{
    color: red;
}
#dj{
    color: rgb(0, 166, 255);
}
